---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Curriculum" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    <p>Estudiante de Ciencia de Datos</p>
    <p>Desarrollador de Aplicaciones Multiplataforma con formación en Java,
    ZK, Spring Boot y SQL.</p>
    <p>Apasionado por la tecnología y en continuo aprendizaje, busco
    oportunidades para aplicar mis conocimientos en un entorno
    profesional.</p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Máster en Data Science & Business Analytics"
      subtitle="2024-actualidad en IMF Smart Education"
    />
    <TimeLineElement
      title="Grado Superior de Desarrollo de Aplicaciones Multiplataforma"
      subtitle="2022-2024 en IES Abastos"
    />
    <TimeLineElement
      title="Grado en Información y Documentación"
      subtitle="2017-2021 en Universitat de València"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="ITACA3 para la Generalitat Valenciana"
      subtitle="Desde abril de 2024 a julio de 2024 en Minsait (Indra), contrato de prácticas"
    >
    Minsait (www.minsait.com) es la compañía de Indra líder en transformación digital y Tecnologías de la Información. Minsait presenta un alto grado de especialización y conocimiento sectorial, que complementa con su alta capacidad para integrar el mundo core con el mundo digital, su liderazgo en innovación y en transformación digital y su flexibilidad. Con ello, enfoca su oferta en propuestas de valor de alto impacto, basadas en soluciones end-to-end, con una notable segmentación, lo que le permite alcanzar impactos tangibles para sus clientes en cada industria bajo un enfoque transformacional. Sus capacidades y su liderazgo se muestran en su oferta de productos, bajo la denominación Onesait, y su oferta transversal de servicios.    </TimeLineElement>
    <br>
    <TimeLineElement
      title="Jefe de Departamento Archivo Histórico"
      subtitle="Desde octubre 2021 a la actualidad en Colegio Territorial de Arquitectos de Valencia, contrato indefinido"
    >
    El Colegio Oficial de Arquitectos de la Comunidad Valenciana es la institución en la que se agrupan todos los profesionales arquitectos de la Comunidad Valenciana.

    Entre sus diferentes funciones se encuentra, representar la profesión ante los poderes públicos, velar por la deontología y el interés social de la Arquitectura, regular el ejercicio de la profesión y garantizar los servicios mínimos a todos los arquitectos y su libertad de ejercicio y de circulación, entre otras.
    
    En concreto, en la Comunidad Valenciana las funciones y servicios se reparten entre el colegio de ámbito autonómico COACV y los tres colegios de ámbito territorial, Colegios Territoriales de Alicante, Castellón y Valencia.    </TimeLineElement>
    <br>
    <TimeLineElement
      title="Página web Unión Musical San Roque"
      subtitle="Desde julio de 2024 a octubre de 2024, trabajo autónomo"
    >Dentro de la cultura Valenciana la música ha sido una parte fundamental de la misma, pero
    en Villargordo del Cabriel la Unión Musical “San Roque”, es algo más que una banda de
    músicos. Actualmente, Villargordo cuenta con unos 500 vecinos, de los cuales más de 250
    son socios de la Unión Musical “San Roque”, formando muchos de ellos parte de la banda,
    en una tradición que pasa de padres a hijos. </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://platzi.com/p/emiliomm3/" target="_blank"> Curso de Prework: Configuración de entorno de desarrollo en Windows</a>
    </li>
    <li>
      <a href="https://platzi.com/p/emiliomm3/" target="_blank"> Curso básico de programación</a>
    </li>
    <li>
      <a href="https://platzi.com/p/emiliomm3/" target="_blank"> Curso básico de Python</a>
    </li>
    <li>
      <a href="https://platzi.com/p/emiliomm3/" target="_blank"> Curso Profesional de Git y Github</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/learning/certificates/6f7c6e2a4a58f76e4f0a8e5bdc4182c99f09ef8d581706d5567e091edec39580?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BYd9Q9D4uREWLQj52XvbRPw%3D%3D" target="_blank"> Introducción a las habilidades profesionales en análisis de datos</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Desarrollo de software</li>
    <li>Ciencia de Datos</li>
    <li>Python</li>
    <li>R</li>
    <li>Github</li>
    <li>Git</li>
    <li>SQL</li>
    <li>Java</li>
    <li>CSS3</li>
    <li>HTML5</li>
    <li>Liderazgo</li>
    <li>Gestión de proyectos</li>
    <li>JIRA</li>
    <li>Jenkins</li>
    <li>Maven</li>
    <li>Spring Boot</li>
    <li>Tortoise SVN</li>
    <li>Modelo-Vista-Controlador (MVC)</li>
    <li>JUnit</li>
    <li>JasperReports</li>
    <li>Oracle Database</li>
    <li>JPA</li>
    <li>Hibernate</li>
    <li>MySQL</li>
  </ul>
</BaseLayout>
